*{
    box-sizing: border-box;
    padding : 0;
    margin :0
}

.card {
    
    width : 400px;
    min-height:  auto;
    max-height :300px;
    border-radius: 0.5rem;
    border : 10px solid gray;
    margin-bottom :1rem
}

.box{
    min-height: 100vh;
    max-width: auto;
}